<%if(isLoggedIn){%>
    <%- include('../layouts/userLoggedHeader.ejs') %>
        <% } else { %>
            <%- include('../layouts/userHeader.ejs') %>
                <% } %>

                    <!-- Breadcrumb Begin -->
                    <div class="breadcrumb-option">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="breadcrumb__links">
                                        <a href="./index.html"><i class="fa fa-home"></i> Home</a>
                                        <span>Wishlist</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Breadcrumb End -->
                    <!-- Shop Cart Section Begin -->
                    <section class="shop-cart spad">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="shop__cart__table">
                                        <% if(isLoggedIn) {%>
                                            <% if(id) {%>
                                            <% if(wishlistProducts.item.length>0) {%>
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th>Product</th>
                                                        <th>Price</th>
                                                        <th>Quantity</th>
                                                        <th>Total</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                            <% for(let key of wishlistProducts.item) {%>
                                                                <td class="cart__product__item">
                                                                    <img src="/banners/<%=key.productId.image[0]%>"
                                                                        class="item-slick" width="250vw" height="250vh">
                                                                    <div class="cart__product__item__title">
                                                                        <h4>
                                                                            <%=key.productId.name%>
                                                                        </h4>
                                                                        <div class="rating">
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                            <i class="fa fa-star"></i>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <td class="cart__price">Price: ₹
                                                                    <%=key.productId.price%>
                                                                        /-
                                                                </td>
                                                                <td class="cart__quantity">
                                                                    <div class="pro-qty">
                                                                        Qty : <%=key.qty%>
                                                                    </div>
                                                                </td>
                                                                <td class="cart__total">Total Price :
                                                                    <%=key.productId.price*key.qty%>
                                                                </td>
                                                                <td class="cart__close"><a
                                                                        href="/delete-wishlist?id=<%=key.productId._id%>"><span
                                                                            class="icon_close mr-3" style="color: red;"></span></a></td>
                                                                <td class="cart__close"><a
                                                                        href="/addToCartDeleteWishlist?id=<%=key.productId._id%>"><span
                                                                            class="icon_cart" style="color: green; background: #fff;"></span></a></td>
                                                    </tr>
                                                    <% } }else{ %>
                                                        <td class="cart__product__item">
                                                            <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
<lottie-player class="m-auto" src="https://assets1.lottiefiles.com/packages/lf20_w7DMdes9Cs.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop autoplay></lottie-player>
                                                            <h2 class="text-center" style="font-weight: bold;">No Products in wishlist</h2>
                                                        </td>
                                                            <%} }}else{ %>
                                                                <td class="cart__product__item">
                                                                    <div class="container">
                                                                        <div class="container-fluid">
                                                                            <h3 class="mt-5 mb-5"
                                                                                style="font-weight: bold; color: grey;">
                                                                                Please
                                                                                <a href="
                                                                /login" class="site-btn ">Login</a> to
                                                                                Continue
                                                                            </h3>
                                                                        </div>
                                                                    </div>
                                                                </td>
                                                                <% } %>
                                                </tbody>
                                            </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Shop Cart Section End -->
                    <%- include('../layouts/userFooter.ejs') %>